<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>支付</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="__STATIC__/wechat/css/nav.css" />
		<link rel="stylesheet" type="text/css" href="__STATIC__/wechat/css/index.css" />
		<link rel="stylesheet" type="text/css" href="__STATIC__/wechat/css/yaodian_index.css" />
	</head>

	<body>
		<div class="container">
			<div class="container_Div">
				<form action="" method="post">

				<div class="zhifu">
					<div class="yibao_zhifu">
						<div class="yibao_zhifu_div">
							<img src="__STATIC__/wechat/img/yibao_img.png" />
							<div class="yibao_zhifuDiv">
								<p class="yibao_zhifuDiv_p">医保账户支付</p>
								<p>
									<span>账户余额</span>
									<span id="amount">0.00元</span>
								</p>
							</div>
							<div class="zhifu_xuanze">
								<input type="radio" class="tab1_zhifu" name="btn" id="btn1" value="yb"><label for="btn1"></label>
							</div>
						</div>
						<div class="yibao_zhifu_div">
							<img src="__STATIC__/wechat/img/weixin_yaodian.png" />
							<div class="yibao_zhifuDiv">
								<p>微信支付</p>
							</div>
							<div class="zhifu_xuanze" style="margin-top: -0.6rem;">
								<input type="radio" class="tab1_zhifu" name="btn" id="btn2" value="zf"><label for="btn2"></label>
							</div>
						</div>
					</div>
					<div class="lijizhifu">
						<a href="javascript:void(0)" id="order_pay" onclick="call_pay()">立即支付</a>
					</div>
				</div>
				</form>
			</div>
		</div>
			<!--错误提示-->
		<div class="cuowu iframe" style="display: none">
			<p class="p1">无法操作</p>
			<p class="p"><img src="__STATIC__/wechat/img/cuowu_tishi.png" style="width: 15%;"/></p>
			<p class="p2">无法操作</p>
			<p class="p3"><a href="#">知道了</a></p>
		</div>
		<div class="cuowuTs" id="cuowuTs" style="display: none"></div>
		<!--错误提示 end-->
		<footer class="footer abs-bottom">
			<nav>
				<ul>
					<li>
						<a href="/wechat/index/index">
							<span class="foot_logoSpan"><img src="__STATIC__/wechat/img/foot_logoF.png"/></span>
							<span class="foot_logoSpanH">首页</span>
						</a>
					</li>
					<li>
						<a href="/wechat/cart/cart">
							<span><img src="__STATIC__/wechat/img/foot_logoGh.png"/></span>
							<span class="foot_logoSpan">购物車</span>
						</a>
					</li>
					<li>
						<a href="/wechat/index/medicine">
							<span><img src="__STATIC__/wechat/img/foot_logoRh.png"/></span>
							<span class="foot_logoSpan">我的</span>
						</a>
					</li>
				</ul>
			</nav>
		</footer>
	</body>
	<script type="text/javascript" src="__STATIC__/wechat/js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="__STATIC__/wechat/js/base.js"></script>
	<script type="text/javascript">
		$('.p3').click(function(){ //错误提示隐藏
			$('.cuowu.iframe').hide();
			$('.cuowuTs').hide();
		});
		var param = get_url_param();
		$(document).ready(function(){
            $.post("/api/wechat/get_user_info",function(data){
                var data = JSON.parse(data);
                if(data.code == '202'){
                    window.location.href = '/api/wechat/oauth';
                }
            });
            $.post("/api/account/account_info",function(data){
                var data = JSON.parse(data);
                if(data.code == '200'){
                    $("#amount").html(data.data+"元");
                }else{
                	//走no_pass_query方法获取绑卡信息
                    window.location.href = '/api/wechat/oauth';
                }
            })
		});
		function call_pay()
		{
			var pay_type = $('input[name="btn"]:checked').val();
			$('#order_pay').css('pointer-events', 'none');
			$.ajax({
				type: 'post',
				url: '/api/weins/unifiedorder',
				data:{order_no: param['order_no'], pay_type: pay_type},
				success: function(response){
					console.log(response);
					if(response.code != 200)
					{
						if(response.code == 666)//需要授权
						{
							location.href = response.msg;
						}
						else
						{
							$('.cuowu.iframe').show();
							$('.cuowuTs').show();
							$('.p2').text('系统错误，请稍后再试');
							$('#order_pay').css('pointer-events', 'auto');
						}
					}
					else
					{
						window.location.href = response.msg;
					}
				},
				error: function(){
					$('.cuowu.iframe').show();
					$('.cuowuTs').show();
					$('.p2').text('系统错误，请稍后再试');
					$('#order_pay').css('pointer-events', 'auto');
				}
			});
		}
	</script>
</html>
