<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="__STATIC__/wechat/css/address_management.css">
    <link rel="stylesheet" href="__STATIC__/wechat/css/weui.min.css">
    <title>配送中</title>
</head>

<body>
    <!--头部-->
    <div class="container">
        <div class="distribution-top">
            <!--地图-->
            <div class="maps" id="container"></div>
            <div class="distribution-list">
                <div class="distribution-detail distribution-postion">
                    <p>药店名称：</p>
                    <div id="pharmacy_name"></div>
                    <div class="phone">
                        <img src="__STATIC__/wechat/img/phone.jpg" alt="" class="phones">
                    </div>
                </div>
                <div class="distribution-detail">
                    <p>药店地址：</p>
                    <div id="addr"></div>
                </div>
                <div class="distribution-detail">
                    <p>收货人：</p>
                    <div id="address_name"></div>
                </div>
                <div class="distribution-detail">
                    <p>收货地址：</p>
                    <div id="addrs"></div>
                </div>
                <div class="distribution-detail">
                    <p>联系电话：</p>
                    <div class="phone-number"></div>
                </div>
                <div class="distribution-detail">
                    <p>配送时间：</p>
                    <div id="drugorder_distribution_time"></div>
                </div>
            </div>
        </div>
        <div class="order-details">
            <div class="order-title">
                <div class="order-font">订单详情</div>
                <div id="con"></div>
            </div>
            <div class="order-totle">
                订单总价<span id="drugorder_amount_payment"></span>
            </div>
        </div>
        <div class="order-details order-bottom" id="pay"></div>
    </div>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://map.qq.com/api/js?v=2.exp&key=SDNBZ-7FCRU-K3WVX-4SB33-PKAXV-3FB7L&libraries=drawing,geometry,autocomplete,convertor,place"></script>
    <script src="__STATIC__/admin/js/qrcode.js"></script>
    <script src="__STATIC__/wechat/js/base.js"></script>
    <script>
        var param = get_url_param();
        var address_lat = param['address_lat'];
        var address_lng = param['address_lng'];
        // var address_lat = 43.866659;
        // var address_lng = 125.357018;
        var citylocation, map, marker = null;
        var center = new qq.maps.LatLng(address_lat, address_lng);
        map = new qq.maps.Map(document.getElementById('container'), {
            center: center,
            zoom: 13
        });
        var marker = new qq.maps.Marker({
            //设置Marker的位置坐标
            position: center, //定位当前坐标画出位置
            //设置显示Marker的地图
            map: map
        })

        $(document).ready(function(){
            //登录授予权限
            $.post("/api/wechat/get_user_info",function(data){
                var data = JSON.parse(data);
                if(data.code == '202'){
                    window.location.href = '/api/wechat/oauth';
                }
            });
        });

        // var drugorder_number = '2018102552654961';
        var drugorder_number = param['drugorder_number'];
        var url = window.location.host+'/wechat/order/get_order?order_no='+drugorder_number;
        $.post("{:url('api/Courier/order')}",{"drugorder_number":drugorder_number},function(result){
            console.log(result);
            if (result.code == '200') {
                $('#pharmacy_name').html(result.data.info.pharmacy_name);
                $('#addr').html(result.data.pro+result.data.city+result.data.dis+result.data.info.pharmacy_address);
                $('#address_name').html(result.data.address_name);
                $('#addrs').html(result.data.addr);
                $('.phone-number').html('<a href="tel:'+result.data.address_tel+'">'+result.data.address_tel+'</a>');
                if (result.data.drugorder_distribution_time == 'immediately') {
                    $('#drugorder_distribution_time').html('立即配送');
                }else{
                    $('#drugorder_distribution_time').html(result.data.drugorder_distribution_time);
                }
                
                $('#drugorder_amount_payment').html('￥'+result.data.drugorder_amount_payment/100);
                $('.phones').after('<a href="tel:'+result.data.info.pharmacy_phone+'">联系店家</a>');
                if (result.data.drugorder_payment_method == 1 && result.data.drugorder_status == 3) {
                    $('#pay').html('<button class="over">配送完成</button>');
                }else if (result.data.drugorder_payment_method == 2 && result.data.drugorder_status == 3){
                    $('#pay').html('<div class="order-title"><div class="order-font">支付方式</div><div>微信支付</div></div><div class="order-pic" id="qrcode" style="margin-left: 33%">   </div><button class="over">确认支付完成</button>');
                    new QRCode(document.getElementById('qrcode'), url);
                }
                drug(result.data.orderproducts);
            }
        });
        
        function drug(pro){
            var html  = '';
            var count = 0;
            for(var x in pro){
                html += '<div class="order-lists"><div class="order-name"><p>'+pro[x].detail.drug_detailed_name+'</p><span>'+pro[x].detail.drug_detailed_specifications+'</span></div><div class="order-address">'+pro[x].detail.drug_detailed_manufactor+'</div><div class="order-price"><p>￥'+pro[x].drugstore_pre_price/100+'</p><span>x '+pro[x].drugstore_num+'</span></div></div>';
                count += parseInt(pro[x].drugstore_num);
            }
            $('.order-totle').before(html);
            $('#con').html('共计'+count+'&nbsp件');
        }
        $(document).on('click','.over',function(){
            $.post("{:url('api/courier/save')}",{"drugorder_number":drugorder_number}, function(result){
                if (result.code == '200') {
                    window.location.href = '/wechat/courier/oks';
                }else{
                    alert(result.msg);
                }
            });
        });
    </script>

</body>

</html>