<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>待发货详情</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="__STATIC__/wechat/css/wodingdan.css" />
		<link rel="stylesheet" type="text/css" href="__STATIC__/wechat/css/nav.css" />
	</head>

	<body>
		<div class="container_xq">
			<div class="container_Div">
				<div class="ywcheng">
					<div class="ywcheng_h">
						<a href="#" class="ywcheng_h_a">
							<img src="__STATIC__/wechat/img/yaodian_img.png" />
							<span>吉林大药房 </span>
						</a>
					</div>
					<div class="ywcheng_mian">
						<div class="ywcheng_mian_sp">
							<ul class="dingdxq_mian_sp_ul1">
								<li class="daifahuo_mian_ulImg"><img src="__STATIC__/wechat/img/ef0591ef1e7e8d5f1ffbc98ba859d59.png" /></li>
								<li class="ywcheng_mian_ulText">
									<p class="ywcheng_mian_p1">藿香正气水</p>
									<p class="gybgg">该药品规格</p>
									<p class="ywcheng_mian_p">
										<span class="ywcheng_mian_num1">￥12.00</span>
										<span class="sancu_span"><del>￥22.00</del></span>
										<span class="ywcheng_mian_num">x1</span>
									</p>
								</li>
							</ul>
						</div>
					</div>

				</div>
				<div class="ywcheng">
					<div class="ywcheng_h">
						<a href="#" class="ywcheng_h_a">
							<img src="__STATIC__/wechat/img/yaodian_img.png" />
							<span>吉林大药房 </span>
						</a>
					</div>
					<div class="ywcheng_mian">
						<div class="ywcheng_mian_sp">
							<ul class="dingdxq_mian_sp_ul1">
								<li class="daifahuo_mian_ulImg"><img src="__STATIC__/wechat/img/ef0591ef1e7e8d5f1ffbc98ba859d59.png" /></li>
								<li class="ywcheng_mian_ulText">
									<p class="ywcheng_mian_p1">藿香正气水</p>
									<p class="gybgg">该药品规格</p>
									<p class="ywcheng_mian_p">
										<span class="ywcheng_mian_num1">￥12.00</span>
										<span class="sancu_span"><del>￥22.00</del></span>
										<span class="ywcheng_mian_num">x1</span>
									</p>
								</li>
							</ul>
						</div>
					</div>

				</div>
				<div class="ywcheng">
					<div class="ywcheng_h">
						<a href="#" class="ywcheng_h_a">
							<img src="__STATIC__/wechat/img/yaodian_img.png" />
							<span>吉林大药房 </span>
						</a>
					</div>
					<div class="ywcheng_mian">
						<div class="ywcheng_mian_sp">
							<ul class="dingdxq_mian_sp_ul1">
								<li class="daifahuo_mian_ulImg"><img src="__STATIC__/wechat/img/ef0591ef1e7e8d5f1ffbc98ba859d59.png" /></li>
								<li class="ywcheng_mian_ulText">
									<p class="ywcheng_mian_p1">藿香正气水</p>
									<p class="gybgg">该药品规格</p>
									<p class="ywcheng_mian_p">
										<span class="ywcheng_mian_num1">￥12.00</span>
										<span class="sancu_span"><del>￥22.00</del></span>
										<span class="ywcheng_mian_num">x1</span>
									</p>
								</li>
							</ul>
						</div>
					</div>

				</div>
				<div class="ywcheng">
					<div class="ywcheng_h">
						<a href="#" class="ywcheng_h_a">
							<img src="__STATIC__/wechat/img/yaodian_img.png" />
							<span>吉林大药房 </span>
						</a>
					</div>
					<div class="ywcheng_mian">
						<div class="ywcheng_mian_sp">
							<ul class="dingdxq_mian_sp_ul1">
								<li class="daifahuo_mian_ulImg"><img src="__STATIC__/wechat/img/ef0591ef1e7e8d5f1ffbc98ba859d59.png" /></li>
								<li class="ywcheng_mian_ulText">
									<p class="ywcheng_mian_p1">藿香正气水</p>
									<p class="gybgg">该药品规格</p>
									<p class="ywcheng_mian_p">
										<span class="ywcheng_mian_num1">￥12.00</span>
										<span class="sancu_span"><del>￥22.00</del></span>
										<span class="ywcheng_mian_num">x1</span>
									</p>
								</li>
							</ul>
						</div>
					</div>

				</div>
				<div class="dingdxq_mian_div">
					<ul class="dingdxq_mian_div_ul">
						<li>
							<span class="dingdxq_mian_div_span">商品总价 : </span>
							<span class="dingdxq_mian_div_span2">￥12.00</span>
						</li>
						<li>
							<span class="dingdxq_mian_div_span">优惠金额 : </span>
							<span class="dingdxq_mian_div_span2">￥12.00</span>
						</li>
						<li>
							<span class="dingdxq_mian_div_span">医保支付 : </span>
							<span class="dingdxq_mian_div_span2">￥12.00</span>
						</li>
						<li>
							<span class="dingdxq_mian_div_span">自费支付 : </span>
							<span class="dingdxq_mian_div_span2">￥12.00</span>
						</li>
						<li>
							<span class="dingdxq_mian_div_span">配送费 : </span>
							<span class="dingdxq_mian_div_span2">￥12.00</span>
						</li>
						<li>
							<span class="dingdxq_mian_div_span">本次积分 : </span>
							<span class="dingdxq_mian_div_span2">￥12.00</span>
						</li>
						<li>
							<span class="dingdxq_mian_div_span">订单总价 : </span>
							<span class="dingdxq_mian_div_span3">￥12.00</span>
						</li>
					</ul>
				</div>
				<div class="peisong">
					<div class="ywcheng_h">
						<a href="#" class="ywcheng_h_a">
							<span class="dinfahuo_xq_h">订单详情</span>
						</a>
					</div>
					<div class="dingdxq_mian_div">
						<ul class="dingdxq_mian_div_ul">
							<li>
								<span class="dingdxq_bh_span">订单编号 : </span>
								<span class="dingdxq_bh_span">￥12.00</span>
							</li>
							<li>
								<span class="dingdxq_bh_span">下单时间 : </span>
								<span class="dingdxq_bh_span">￥12.00</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>

		<footer>
			<nav>
				<ul>
					<li>
						<a href="index.html">
							<span class="foot_logoSpan"><img src="__STATIC__/wechat/img/foot_logoF.png"/></span>
							<span class="foot_logoSpanH">首页</span>
						</a>
					</li>
					<li>
						<a href="gouwuche.html">
							<span><img src="__STATIC__/wechat/img/foot_logoGh.png"/></span>
							<span class="foot_logoSpan">购物車</span>
						</a>
					</li>
					<li>
						<a href="gerenzhongxin.html">
							<span><img src="__STATIC__/wechat/img/foot_logoRh.png"/></span>
							<span class="foot_logoSpan">个人中心</span>
						</a>
					</li>
				</ul>
			</nav>
		</footer>

	</body>
	<script type="text/javascript" src="__STATIC__/wechat/js/jquery-2.1.4.min.js"></script>

</html>